<div class="absolute h-fit right-0 top-10 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1">
        <div class="py-1">
            @for(checkbox of checkboxes; track checkbox.id){
                <div class="w-full flex flex-row-reverse p-1">
                    <input type="checkbox" [id]="checkbox.id" [name]="checkbox.id" [value]="checkbox.value" class="relative right-1 w-5" #allergy (change)="toggleAllergy(checkbox.id)" [checked]="checkbox.checked">
                    <label [for]="checkbox.id" class="flex-1 text-lg">{{ checkbox.id }}</label><br>
                </div>
            }
        </div>
</div>