@if(showTitle){
    <h1 class="text-3xl mt-16 ml-5 mb-10 font-bold xl:text-3xl">Browse Recipes</h1>
}
<div class="grid grid-cols-1 p-8 pt-0 max-w-96 mx-auto sm:max-w-xl lg:max-w-none sm:mx-auto sm:justify-items-left xl:grid-cols-2 gap-y-4 md:gap-y-8 xl:justify-items-start xl:gap-x-4">
    @for(recipe of recipes; track recipe.id){
        <div class="flex flex-col lg:flex-row lg:w-[900px] overflow-hidden bg-gray-100 border-2 border-black rounded-lg dark:bg-gray-800 xl:max-w-full">
            <img src="{{ recipe.image }}" alt="Recipe Image" class="w-full lg:w-52 object-cover">
            <div class="flex flex-col justify-between w-full">
                <h5 class="text-2xl mt-3 sm:mt-0 text-center mb-4 font-bold p-1 xl:text-2xl w-full text-balance">{{ recipe.title }}</h5>
                <div class="flex">
                    <!-- Property binding the dyanmically generated recipe id along with the static url to the routerlink-->
                    <a  [routerLink]="'/recipe/specific/' + recipe.id" class="flex flex-1 text-sm text-center justify-center items-center px-4 py-2 bg-green-600 dark:bg-gray-200 border border-transparent font-semibold text-white dark:text-gray-800 uppercase tracking-widest hover:bg-red-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 transition ease-in-out duration-15 xl:text-md">View Recipe</a>
                    <!-- <a routerLink="/favourites" class="flex flex-1 text-sm text-center justify-center items-center px-4 py-2 bg-blue-600 dark:bg-gray-200 border border-transparent font-semibold text-white dark:text-gray-800 uppercase tracking-widest hover:bg-red-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 transition ease-in-out duration-15 xl:text-md">Add To Favourits</a> -->
                </div>
            </div>
        </div>
    }
</div>